body {
    padding: 54px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1128px;
}

.gallery-item {
    width: 360px;
    height: 200px;
}

.gallery-link {
    display: block;
    overflow: hidden;
    height: 100%;
}

.gallery-link:hover {
    cursor: url('../img/cursor.png') 16 16, pointer;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover {
    opacity: 0.8;
}